{% load static from staticfiles%}
{% url 'home' as home %}

<!DOCTYPE html>
<html lang="uk">

 <head>
    <meta charset="UTF-8"/>
    <title> Сервіс Обліку Студентів - {% block meta_title%} {% endblock meta_title %}</title>
    <meta name= "description"
          value = "Система Обліку Студентів Навчального Закладу"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--Include Styles-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/main.css"%}">

    {% block extra_css %}{% endblock extra_css %}

 </head>

  <body>
    <!--Start Container-->
    <div class='container'>
      <!--Start Header-->
      <div class='row' id='header'>

        <!--Logo-->
        <div class='col-xs-8'>
         <h1> Сервіс Обліку Студентів {% block logo %}{% endblock logo %}</h1>
        </div>

        <!--Groups Selector-->
        <div class= 'col-xs-4' id='group-selector' >
          <strong>Група:</strong>
            <select>
              <option value=""> Усі студенти </option>
              <option value=""> МтМ-21, Побода Віталій (№254)</option>
              <option value=""> МтМ-21, Корост Андрій (№2123)</option>
            </select>
        </div>
      </div>
      <!-- End Header -->

      <!-- Start SubHeader -->
      <div class='row' id= 'sub-header'>
        <div class='col-xs-12'>

         <ul class="nav nav-tabs">
            <li role="presentation" {%if request.path == home %} class="active" {% endif %}> <a href="{%url "home" %}">Студенти</a></li>
            <li role="presentation" {%if '/journal' in request.path %} class="active" {% endif %}> <a href="/journal">Відвідування</a></li>
            <li role="presentation" {%if 'groups' in request.path %} class="active" {% endif %}> <a href="{%url "groups" %}">Групи</a></li>
         </ul>

        </div>
      <!--End SubHeader-->

      <!--Start Main Page Content-->
      <div class='row' id= 'content-colomns'>

        <div class='col-xs-12' id= 'content-colomn'>
          <!--Status Message-->
          {% comment "Not used alert so far" %}
          <div class="alert alert-warning" role="alert">Status update!\</div>
          {% endcomment %}
          <!--Page name-->
          <h2> {% block title %} {% endblock title%} </h2>
          {% block content%} {% endblock content%}

          </div>
        </div>

      </div>
      <!--End Main Page Content-->

      <!--Start Footer-->
      <div class='row' id='footer'>
        <div class='col-xs-12'>
          &copy; 2014 Сервіс Обліку Студентів {% block footer%} {% endblock footer%}
        </div>
      <!-- End Footer -->
    </div>
    <!-- End Container -->


    <!-- Javascripts Section -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {% block extra_js%} {% endblock extra_js%}
 </body>

</html>
