{% extends "students/base.html" %}

{% load static from staticfiles%}

{% block meta_title %} Групи {% endblock meta_title %}

{% block title%} База Груп {% endblock title %}

{% block content %}
<!-- Add Student Button -->
<a class="btn btn-primary col-xs-4 col-xs-offset-8" href="{% url "groups_add" %}" > Додати Групу </a>

<!-- Start Groups Listing -->
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th> <a href=""> № </a> </th>
      <th> <a href=""> Група </a> </th>
      <th> <a href=""> Староста </a> </th>
      <th> Дії </th>
    </tr>
  </thead>
  <tbody>
  {% for group in groups %}
      <tr>
        <td> {{forloop.counter }} </td>
        <td> <a title="Редагувати" href= "{% url "groups_edit" group.id %}"> {{group.name}} </a> </td>
        <td> <a title="Редагувати" href= "{% url "groups_edit" group.id %}"> {{group.group_lider}} </a> </td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Дія
            <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu">
               <li role="presentation"><a role= "menuitem" tabindex="-1" href="{% url "journal_group" group.id%}"> Відвідування </a></li>
               <li role="presentation"><a role= "menuitem" tabindex="-1" href="{% url "groups_edit" group.id %}"> Редагувати </a></li>
               <li role="presentation"><a role= "menuitem" tabindex="-1" href="{% url "groups_delete" group.id %}"> Видалити </a></li>
              </ul>
           </div>
        </td>
      </tr>
    {%endfor%}
  </tbody>
</table>

{%include "students/pagination.html" %}
  <!-- End Groups Listing -->
{% endblock content %}
