{% extends "students/base.html" %}

{% load static from staticfiles%}

{% block meta_title %} Студенти {% endblock meta_title %}

{% block title%} База Студентів {% endblock title %}

{% block content %}

<!-- Add Student Button -->
<div class="row" >
<a class="btn btn-primary col-xs-4 col-xs-offset-8" href="{% url "students_add" %}"> Додати Студента</a>
</div>
          <!-- Start Students Listing -->
<table class="table table-hover table-striped">
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <thead>
    <tr>
      <th> <a href=""> № </a> </th>
      <th> Фото </th>
      <th> <a href="{%url "home"%}?order_by=last_name{% if request.GET.order_by == 'last_name' and request.GET.reverse != '1' %}&amp;reverse=1{% endif %}">
        Прізвище
        {% if order_by == 'last_name' and reverse != '1' %} &uarr;
        {% elif order_by == 'last_name' and reverse == '1' %} &darr;
        {% endif %} </a>
      </th>
      <th> <a href="{%url "home"%}?order_by=first_name{% if request.GET.order_by == 'first_name' and request.GET.reverse != '1' %}&amp;reverse=1{% endif %}">
        Імя
        {% if order_by == 'first_name' and reverse != '1'%} &uarr;
        {% elif order_by == 'first_name' and reverse == '1'%} &darr;
        {% endif %}</a>
      </th>
      <th> <a href="{%url 'home'%}?order_by=ticket">
        № Білету
        {% if order_by == 'ticketk' and reverse != '1'%} &uarr;
        {% elif order_by == 'ticket' and reverse == '1'%} &darr;
        {% endif %}</a>
      </th>
      <th> Дії </th>
    </tr>
  </thead>
 {% endwith %}
  <tbody>
    {%for student in students %}
    <tr>
      <td> {{forloop.counter}} </td>
      <td> {%if student.photo%} <img class= "img-circle" height="30" width="30" src="{{student.photo.url}}">
           {%else%} <img class= "img-circle" height="30" width="30" src="static/img/empty.png"> {%endif%}
      </td>
        <td> <a title="Редагувати" href= "{% url "students_edit" student.id %}"> {{student.last_name }} </a> </td>
        <td> <a title="Редагувати" href= "{% url "students_edit" student.id %}"> {{student.first_name}} </a> </td>
        <td> {{student.ticket}} </td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Дія
              <span class="caret"></span>
              </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu">
                  <li role="presentation"><a role= "menuitem" tabindex="-1" href="/journal/{{student.id}}"> Відвідування </a></li>
                  <li role="presentation"><a role= "menuitem" tabindex="-1" href="{% url "students_edit" student.id %}"> Редагувати </a></li>
                  <li role="presentation"><a role= "menuitem" tabindex="-1" href="{% url "students_delete" student.id %}"> Видалити </a></li>
                </ul>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{%include "students/pagination.html" %}
<!--<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->
            <!-- End Students Listing -->
{% endblock content %}
